<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Introducción a Vue JS 2</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- v-bind: Nos sirve para enlazar valores que vienen desde la instancia 
                y mostrarlos en la vista.
            OJO: si el valor de la instancia cambia, en la vista también será renderizado,
            Pero si cambia en la vista, el modelo no se verá afectado -->
            <div v-bind:class="jumbo">
                <h3>{{ mostrarTitulo() }}</h3>
                <!--<table-component></table-component>-->
                <table class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th v-for="th in cabeceras" scope="col">{{ th }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- v-for: Nos ayuda a iterar sobre arreglos y objetos para mostrar su contenido.
                        Útil para partes en donde hay que repetir muchas etiquetas html -->
                        <tr v-for="(usuario, indice) in usuarios">
                            <th scope="row">{{ indice +1 }}</th>
                            <td v-for="dato in usuario">{{ dato }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- ":" forma corta del v-bind -->
                <div :class="jumbo">
                    <!-- v-if y v-else: directivas para aplicar condicionales en nuestras etiquetas -->
                    <p v-if="mostrar">
                        <!-- cambia a `v-if="!mostrar"` -->
                        Ejemplo de v-if/else
                    </p>
                    <p v-else>Soy el v-else</p>

                    <!-- v-show: funciona de igual manera que el v-if y sirve para ocultar/mostrar elementos -->
                    <p v-show="!mostrar">
                        Ejemplo de v-show
                    </p>
                </div>

                <!-- TAREA: Investigar sobre v-html y v-on junto con su forma corta -->
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
</body>

</html>