<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div :class="jumbo">

        <div class="input-group mb-3">
          <input type="text" @keyup.space="agregarUsuario" class="form-control" placeholder="username" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" v-on:click="agregarUsuario" type="button">Agregar</button>
          </div>
        </div>

        <table class="table table-sm table-striped">
          <thead class="thead-dark">
            <tr>
              <th v-for="titulos in cabecera">{{titulos}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(usuario,index) in usuarios">
              <td>{{index +1}}</td>
              <td v-for="datos,prop in usuario" @mouseover="mostrarNombre(datos,$event)">{{datos}}</td>
            </tr>
          </tbody>
        </table>
        <!-- Computed properties: En multiples ocasiones tendremos la necesidad de que cuando el valor de algun dato cambie este se refresque 
        instantaneamente y usar metodos y eventos para estar en escucha de estos cambios es demasiado engorroso. Para ello tenemos un hook llamado
        computed para realizar esta tarea. Checa el archivo vue.js -->
        <span class="badge badge-success">{{x}}</span> +
        <span class="badge badge-danger">{{y}}</span> =
        <span class="badge badge-info">{{total}}</span>

        <!-- TAREA: Investigar sobre el hook watch y para qué sirve. https://vuejs.org/v2/guide/computed.html#Computed-vs-Watched-Property -->
        
      </div>
      <button type="button" @click="x++" class="btn btn-primary">Aumentar X</button>
      <button type="button" @click="y*=2" class="btn btn-info">Aumentar Y</button>
    </div>
  </div>
  <style>
      .ocultar {
        display: none;
      }
  </style>
  <script src="vue.js"></script>
</body>

</html>