/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


.sidebar-link.active  {
  color:#97c941 !important;
  border-left-color: #97c941 !important;
  
}

.nav-link.active {
  border-bottom: 2px solid #97c941 !important;
}


a {
  color:#97c941;
}

.action-button {
  background-color:#97c941 !important;
}

.home .hero img
  max-width 1000px !important